<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <p class="text-center text-success"><%= notice %></p>

      <h1 class="text-center">Schools</h1>

      <table id="schools-table" class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @schools.each do |school| %>
            <tr>
              <td class="col-md-4"><%= school.name %></td>
              <td class="col-md-4"><%= school.address %></td>
              <td class="col-md-4">
                <%= link_to "Show", school, class: "btn btn-primary" %>
                <% if can?(:update, school) %>
                  <%= link_to "Edit", edit_school_path(school), class: "btn btn-secondary" %>
                <% end %>
                <% if can?(:destroy, school) %>
                  <%= button_to "Delete", school, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <% if can?(:create, School) %>
          <%= link_to "New school", new_school_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#schools-table').DataTable();
  });
</script>
