<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <p class="text-center text-success"><%= notice %></p>

      <div class="text-center">
        <%= link_to "Edit this school", edit_school_path(@school), class: "btn btn-primary" %> |
        <%= link_to "Back to schools", schools_path, class: "btn btn-secondary" %><br>

        <%= button_to "Destroy this school", @school, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
      </div>

      <%= render @school %>
    </div>
  </div><br>
  <div class="text-center">
    <%= link_to "Create New course", new_course_path, class: "btn btn-primary" %>
  </div>
</div>
