<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <p class="text-center text-success"><%= notice %></p>

      <h1 class="text-center">Batches</h1>

      <div class="text-center">
        <%= link_to "New batch", new_batch_path, class: "btn btn-primary" %>
        <%= link_to "Back to courses", courses_path, class: "btn btn-secondary" %>
      </div><br>

      <div id="batches">
        <% @batches.each do |batch| %>
          <%= render batch %>
          <p class="text-center">
            <%= link_to "Show this batch", batch, class: "btn btn-primary" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
