<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <p class="text-center text-success"><%= notice %></p>
      <div class="text-center">
        <% if can?(:update, @batch) %>
          <%= link_to "Edit this batch", edit_batch_path(@batch), class: "btn btn-primary" %>
        <% end %>
        <%= link_to "Back to batches", batches_path, class: "btn btn-secondary" %>
        <% if can?(:destroy, @batch) %>
          <%= button_to "Destroy this batch", @batch, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>

      <%= render @batch %>

      <div>
        <strong>Students List</strong>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <p class="text-center text-success"><%= notice %></p>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Student Name</th>
                  <th>Student Progress</th>
                  <th>Actions</th>
                </tr>ˀ
              </thead>
              <tbody>
                <% User.joins(:roles).where(roles:{name: 'student'}).each do |student| %>
                  <tr>
                    <td><%= student.email %></td>
                    <% user_batch = student.user_batches.find_by(batch_id: @batch.id) %>
                    <td>
                      <% if user_batch.present? || current_user.is_admin? || current_user.is_school_admin? %>
                        <%= student.user_batches.find_by(batch_id: @batch.id).progress || 0 %>%
                      <% else %>
                        You do not have permission to see
                      <% end %>
                    </td>
                    <td>
                      <% if can?(:link_student, @batch) %>
                        <% if @batch.user_batches.find_by(user_id: student.id).present? %>
                          <%= link_to "Remove User from Batch", batch_link_student_path(batch_id: @batch.id, user_id: student.id, linking: false), class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
                        <% else %>
                          <%= link_to "Add User to Batch", batch_link_student_path(batch_id: @batch.id, user_id: student.id, linking: true), class: "btn btn-primary" %>
                        <% end %>
                      <% end %>
                      <% if current_user.is_student? %>
                        <% unless student.user_batches.where(batch_id: @batch.id).present? %>
                          <%= link_to "Join Batch Request", batch_link_student_path(batch_id: @batch.id, user_id: student.id, linking: true), class: "btn btn-primary" %>
                        <% end %>
                      <% elsif current_user.is_admin? || current_user.is_school_admin? %>
                        <% if student.user_batches.where(batch_id: @batch.id).present? %>
                          <%= link_to "Approve Batch Request", batch_approve_student_batch_path(batch_id: @batch.id, user_id: student.id), class: "btn btn-success" %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <%= link_to "Back to courses", courses_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
